<div class="table-responsive cart_info" th:fragment="fragment">
    <form action="/account" th:object="${userForm}" method="post">
        <div class="chose_area">
            <ul class="user_info">
                <li class="single_field">
                    <label>E-mail:</label>
                    <span th:text="${userForm.email}"></span>
                </li>
            </ul>
            <ul class="user_info">
                <li class="single_field">
                    <label>Hasło:</label>
                    <input type="password" th:field="${userForm.password}" placeholder="Hasło..." autocomplete="new-password">
                </li>
            </ul>
            <ul class="user_info">
                <li class="single_field">
                    <label>Imię:</label>
                    <input type="text" th:field="*{firstName}" placeholder="Imię...">
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                </li>
            </ul>
            <ul class="user_info">
                <li class="single_field">
                    <label>Nazwisko:</label>
                    <input type="text" th:field="*{lastName}" placeholder="Nazwisko...">
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                </li>
            </ul>
            <ul class="user_info">
                <li class="single_field">
                    <label>Długość geograficzna:</label>
                    <input type="text" th:field="*{longitude}" placeholder="Długość geograficzna...">
                </li>
            </ul>
            <ul class="user_info">
                <li class="single_field">
                    <label>Szerokość geograficzna:</label>
                    <input type="text" th:field="*{latitude}" placeholder="Szerokość geograficzna...">
                </li>
            </ul>
            <ul class="user_info">
                <li class="single_field">
                    <label>Kraj:</label>
                    <input type="text" th:field="*{country}" placeholder="Kraj...">
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div>
                </li>
            </ul>
            <ul class="user_info">
                <li class="single_field">
                    <label>Miejscowość:</label>
                    <input type="text" th:field="*{city}" placeholder="Miejscowość...">
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
                </li>
            </ul>
            <ul class="user_info">
                <li class="single_field">
                    <label>Kod pocztowy:</label>
                    <input type="text" th:field="*{postCode}" placeholder="Kod pocztowy...">
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}"></div>
                </li>
            </ul>
            <ul class="user_info">
                <li class="single_field">
                    <label>Poczta:</label>
                    <input type="text" th:field="*{post}" placeholder="Poczta...">
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('post')}" th:errors="*{post}"></div>
                </li>
            </ul>
            <ul class="user_info">
                <li class="single_field">
                    <label>Ulica:</label>
                    <input type="text" th:field="*{street}" placeholder="Ulica...">
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></div>
                </li>
            </ul>
            <ul class="user_info">
                <li class="single_field">
                    <label>Kontakt:</label>
                    <select id="contact" th:field="*{contact}">
                        <option
                                th:each="contact : ${contacts}"
                                th:value="${contact}"
                                th:text="${contact}"
                                th:selected="${userForm.contact == contact}"
                        ></option>
                    </select>
                </li>
            </ul>
            <button class="btn btn-default check_out" type="submit">Zapisz</button>
            <a class="btn btn-default check_out" href="/admin/user">Cancel</a>
            <input type="hidden" name="uuid" th:field="*{uuid}">
        </div>
    </form>
</div>
