<div class="table-responsive cart_info" th:fragment="fragment">
                <table class="table table-condensed">
                    <thead>
                    <tr class="cart_menu">
                        <td class="cart_description">Kategoria</td>
                        <td class="cart_description">Kategoria nadrzędna</td>
                        <td class="image">Akcja</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="category : ${categories}">
                        <td class="cart_description">
                            <h4><a th:href="'/admin/category/' + ${category.id}" th:text="${category.name}"> ... </a></h4>
                        </td>
                        <td class="cart_description">
                            <h4 th:text="${category?.parent?.name}"> ... </h4>
                        </td>
                        <td>
                            <a th:href="'/admin/category/' + ${category.id} + '/delete'"><i class="fa fa-times fa-delete fa-action">&nbsp;</i></a>
                            <a th:href="'/admin/category/' + ${category.id} + '/edit'"><i class="fa fa-edit fa-action">&nbsp;</i></a>
                        </td><!--fa-plus-->
                    </tr>
                    </tbody>
                </table>
            </div>
