		<div class="header-middle" th:fragment="fragment(items)"><!--header-middle-->
    		<div class="container">
        		<div class="row">
            		<div class="col-sm-4">
                		<div class="logo pull-left">
                    		<a href="index.html"><img src="/images/home/logo.png" alt="" /></a>
                		</div>
                		<div class="btn-group pull-right">
                		</div>
            		</div>
            		<div class="col-sm-8">
                		<div class="shop-menu pull-right">
                    		<ul class="nav navbar-nav">
                        		<li th:each="item : ${items}">
									<a th:href="${item.url}">
										<i th:classappend="${item.className}"></i>
										<span th:text="${item.textValue}">...</span>
									</a>
								</li>
                    		</ul>
                		</div>
            		</div>
        		</div>
    		</div>
		</div><!--/header-middle-->