		<div class="header-middle" th:fragment="fragment"><!--header-middle-->
    		<div class="container">
        		<div class="row">
            		<div class="col-sm-4">
                		<div class="logo pull-left">
                    		<a href="index.html"><img src="/images/home/logo.png" alt="" /></a>
                		</div>
                		<div class="btn-group pull-right">
                		</div>
            		</div>
            		<div class="col-sm-8">
                		<div class="shop-menu pull-right">
                    		<ul class="nav navbar-nav">
                        		<li th:each="middleMenu : ${middleMenus}">
									<a th:href="${middleMenu.url}" th:classappend="${middleMenu.classState}">
										<i th:classappend="${middleMenu.classType}"></i>
										<span th:text="${middleMenu.textValue}">...</span>
									</a>
								</li>
                    		</ul>
                		</div>
            		</div>
        		</div>
    		</div>
		</div><!--/header-middle-->