		<div class="header-bottom" th:fragment="fragment(items)"><!--header-bottom-->
    		<div class="container">
        		<div class="row">
            		<div class="col-sm-9">
                		<div class="navbar-header">
                    		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        		<span class="sr-only">Toggle navigation</span>
                        		<span class="icon-bar"></span>
                        		<span class="icon-bar"></span>
                        		<span class="icon-bar"></span>
                    		</button>
                		</div>
                		<div class="mainmenu pull-left">
                    		<ul class="nav navbar-nav collapse navbar-collapse">
                        		<li th:each="item : ${items}">
									<a
										th:classappend="${#strings.equals(item.classState, '')} ? '' : ${item.classState}"
										th:text="${item.textValue}"
										th:href="${item.url}"
									>...</a>
								</li>
                    		</ul>
                		</div>
            		</div>
            		<div class="col-sm-3">
                		<div class="search_box pull-right">
                    		<input type="text" placeholder="Znajdź..."/>
                		</div>
            		</div>
        		</div>
    		</div>
		</div><!--/header-bottom-->
