<!DOCTYPE html>
<html lang="en">
<head th:replace="shop/components/head :: fragment">
</head><!--/head-->

<body>
	<header id="header"><!--header-->
		<!--header_top-->
		<div th:replace="shop/components/header-top :: fragment"></div>
		<!--header-middle-->
		<div th:replace="shop/components/header-middle :: fragment"></div>
		<!--header-bottom-->
		<div th:replace="shop/components/header-bottom :: fragment"></div>
	</header><!--/header-->

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<!--left-sidebar-->
					<div th:replace="shop/components/left-sidebar :: fragment"></div>
				</div>
				<div th:replace="shop/components/product-details :: fragment"></div>
			</div>
		</div>
	</section>

	<!--footer-->
	<div th:replace="shop/components/footer :: fragment"></div>

    <script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>